# macOS
.DS_Store

# Xcode user-specific
xcuserdata/
*.xcuserstate
*.xcuserdatad

# Xcode build products
build/
DerivedData/
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
.swiftpm/

# CocoaPods / Carthage (如未来引入)
Pods/
Carthage/Build/

# 其他
*.log
